* {
  box-sizing: border-box;
  /*text-align: center;*/
  margin: 0;
}
body {
  /*background: #c1d72e;*/
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
    font-family: 'Indie Flower', cursive;
  /*color: #fff;*/
  height: 100%;
  text-align: center;
  font-size: 18px;
  background-image: url("../images/skulls.png");
}
li{
  list-style: none;

}

#introPage{
  /*border: solid 1px;*/
  /*clear: both;*/
  display: inline-block;
  float: right;
  max-width: 60%;
  background:rgba(255,255,255, 0.3)

  /*background-color: #fff;*/
}
#gamePage{
  max-width:60%;
  float: right;
  background:rgba(255,255,255, 0.3)
  /*background-color: #fff;*/
}
#img{
  width: 30%;
  float:left;
  display: inline-block;
  margin: 40px
  /*clear: both;*/
}

.contain{
  margin-top: 60px;
}
#masthead {
  background:rgba(255,255,255, 0.5);
  margin: 0 0 0px;
  /*z index specifies the stack order of an element. only works on positioned element*/
  z-index: 99;
  position: fixed;
  color: #fff;
  overflow: auto;
  border-bottom: 2px solid #ccc;
  width: 100%;

}

#logo {
  width: 250px;
  height:56px;
  background:	green;
  float: center;
  padding: 9px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  line-height: 54px;
  color: #fff;
  font-weight: 700;
  font-size:30px;
  text-decoration: none;

}



#categoryNames{
  padding: 5px;
  color:red;
}


#chosen-word li {
    /*position: relative;*/
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.6em;
}

.category li{
display: inline;
cursor: pointer;
margin: 10px;
padding: 5px;
background-color: #ccc;
color: #fff;
border: solid #eee 2px;
-moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 -khtml-border-radius: 5px;

}


.category li:hover{
  background-color: #cde;
}
#alphabet {
  margin: 15px auto;
  padding: 0;
  max-width: 600px;
}
#alphabet:after {
  content: "";
  display: table;
  clear: both;
}

#alphabet li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 30px;
  background: #fff;
  cursor: pointer;
  border: solid 1px #fff;
}

#letter:hover {
  background: #ccc;
  border: solid 1px #fff;
  color: #fff;
}

#active {
  cursor: alias;
  text-decoration: line-through;
  color: red;
}

#active:hover{
  cursor: default;
  text-decoration: line-through;
  color: red;
}
